
.bg-hero{
    background: url("../../assets/pixel/Alphabitat-hero-min.jpg") rgba(34, 34, 34, 0.356);
    background-position: right;
    background-size: cover;
    background-blend-mode: multiply;
}


.b-gray{
    border-width: 2px;
    border-color: rgba(128, 128, 128, 0.178);
}


.bg-white-trans{
    background-color: rgba(255, 255, 255, 0.274);
}

.opacity-90{
    opacity: 95%;
}

.bg-light-gray{
    background-color: rgb(248, 248, 248);
}

.opacity-10{
    opacity: 10%;
}

.bg-dark-gray{
    background: rgb(14, 14, 14);
}

.bg-grey{
    background-color: rgb(22, 22, 22);
}

.absolute-center{
    margin-left: 50%;
    transform: translateX(-50%);
}

.top-10{
    top: 20px;
}

.anim{
    transition: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

}

.min-h{
    min-height: calc(100vh - 130px);
}

/* Nav item underline stroke animation */

.stroke li a {
  position: relative;
}
.stroke li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(172, 0, 0);
  height: 2px;
}
.stroke li a:hover:after {
  width: 80%;
}

.nav-fav > a:hover:after{
    left: 20%;
    width: 100%
}

.stroke li a,
.stroke li a:after,
.stroke li a:before {
  transition: all .5s;
}

.triangle::before {
    position: absolute;
    top:0;
    transform: translatey(-100%);

    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10.5px 14px 10.5px;
    border-color: transparent transparent #ffffff transparent
}

.bg-blur{
    backdrop-filter: blur(8px) brightness(25%);
}

.map-height{
    min-height: 640px;
}




/* RANGE SLIDER STYLING */

.range-control {
    position: relative;
  }
  
  input[type=range] {
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    position: relative;
    height: 12px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #e2e2e2;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  
  input[type=range]::-webkit-slider-thumb {
    position: relative;
    top: -2px;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    -webkit-appearance: none;
    background-color: #fff;
    box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-thumb:active {
    top: -5px;
    width: 30px;
    height: 30px;
  }
  
  output {
    position: absolute;
    top: -32px;
    display: none;
    width: 50px;
    height: 24px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    border-radius: 3px;
    color: #777;
    font-size: .8em;
    line-height: 24px;
    text-align: center;
  }
  
  input[type=range]:active + output {
    display: block;
    transform: translateX(-50%);
  }

 /* SWIPER */

 .swiper-button-next , .swiper-button-prev{
   background: url('/assets/vector/down-arrow-white.svg');
   background-size: 20px;
   width: 40px;
   height: 40px;
   margin-right: 10px;
   border-radius: 100%;
   transform: rotate(-90deg);
   background-position: center;
   background-repeat: no-repeat;
   background-color: #007aff;
 }


 .swiper-button-prev{
  transform: rotate(90deg);
  margin-left: 10px;
 }

 /* ANIM background */

 .bg-loading {
  background: linear-gradient(89deg, #aeaeae, #d5d5d5, #d7d7d7, #f7f7f7);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 49%}
  50%{background-position:100% 52%}
  100%{background-position:0% 49%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 49%}
  50%{background-position:100% 52%}
  100%{background-position:0% 49%}
}
@keyframes AnimationName {
  0%{background-position:0% 49%}
  50%{background-position:100% 52%}
  100%{background-position:0% 49%}
}

/* POWER SELECT OVERIDE */

.ember-power-select-trigger, .ember-power-select-trigger > * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;


}

.ember-power-select-trigger{
  padding: .4rem 0 .4rem .8rem;
  margin-top: .5rem;
  border-color: rgb(190, 190, 190);
}

.ember-power-select-option{
  padding:  .3rem ;
  padding-left: .8rem;
}

.ember-power-select-status-icon{
  margin: auto;
  margin-right: .5rem;
}

.ember-power-select-dropdown{
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.ember-power-select-option[aria-selected="true"]{
  background-color: rgb(238, 238, 238);
  color: black;
}

/* CUSTOM SCROLLBAR */

/* Specify width for the scrollbar */
::-webkit-scrollbar {
  width: .7rem;

  }
 /* Set the gray background for the Track (Progress Bar) */
  ::-webkit-scrollbar-track {
  background: LightGray;
  }
  /* choose a green background color for the thumb */
  ::-webkit-scrollbar-thumb {
  background: DodgerBlue;
  }
 /* I effect changing the red background color when hovering */
  ::-webkit-scrollbar-thumb:hover {
  background: #e53e3e;
  }


.magic-anim {
	transition: transform 200ms ease-in-out;
	will-change: transform;
}
