<article class="bg-white rounded b-gray-alt">
    <div class=" h-auto">
      <div class="flex px-6 md:px-8 py-4 md:py-5 justify-between b-gray-alt-bottom">
        <h2 class="font-bold text-xl text-gray-900 ">{{@title}}</h2>
      </div>
    </div>
    {{yield}}
</article>