    <div class="container md:flex items-center opacity-50 py-4 hidden ">
        <button type="button" class="font-bold flex"> <img src="assets/vector/down-arrow-black.svg" alt="black left pointing arrow" class="transform rotate-90 "> <span> Back to search </span></button>
    </div>