
  <footer class=" py-12 w-full bg-grey text-center md:text-left">
        <div class="container grid grid-cols-1 text-white font-bold gap-2 py-6  md:grid-cols-4  b-gray-alt-bottom border-gray-700">
            <div class=" p-6 ">
                <h3 class="pb-3">Opening Hours</h3>
                <p class="text-sm">Monday-Saturday <br>
                    09:00-18:00 </p>
            </div>
            <div class=" p-6">
                <h3 class="pb-3">Address</h3>
                <p class="text-sm">Avenue Jules du Jardin 43, <br>
                1150 Woluwe-Saint-Pierre</p>
            </div>
            <div class=" p-6">
                <h3 class="pb-3">General</h3>
                <a href="#" class="block text-sm">Privacy Policy</a>
                <a href="#" class="block text-sm">Cookie Policy</a> 
            </div>

        </div>
        <div class="flex text-white justify-center container py-2 text-sm opacity-50">
            <span>©Copyright Alphabitat</span>
        </div>
            
  </footer>