<div class="bg-dark-gray text-white relative">
    <div class="container m-auto flex justify-between items-center">
      <address class="flex">
        <button class="py-1 px-4 m-2 ml-0 border border-gray-800 text-gray-200 font-bold text-xs md:text-sm rounded">+32 (2) 770 31 21</button>
        <button class="py-1 px-4 m-2 ml-0 border border-gray-800 text-gray-200 font-bold text-xs hidden sm:block md:text-sm rounded">info@alphabitat.be</button>
      </address>

      <div class="flex">
        <button class="mr-2 py-1 px-6 bg-red-600 font-bold text-gray-100 text-sm rounded hidden md:block">Sell your house!</button>
        <div class="">
          <button class="relative py-1 pl-4 pr-3 bg-gray-900 text-gray-100 rounded flex items-center justify-between"> EN  <img src="../../assets/vector/down-arrow-white.svg" width="20px" alt="arrow pointing downwards"></button>
            <div class="absolute text-gray-900 flex flex-col hidden">
                <button class="shadow py-1 px-4 bg-white mt-1 rounded" value="en-GB">EN</button>
                <button class="shadow py-1 px-4 bg-white mt-1 rounded" value="fr-BE">FR</button>
                <button class="shadow py-1 px-4 bg-white mt-1 rounded" value="nl-BE">NL</button>
            </div>
        </div>
      </div>
    </div>
  </div>