<div
  class="rounded-lg bg-white b-gray hover:shadow-xl transform hover:-translate-y-1 p-2 anim">
  <div class="relative h-64 w-full rounded-lg bg-loading">
    <div
      class="absolute bottom-0 right-0 mr-0 mb-2 text-xl text-white px-4 py-1 font-bold bg-loading rounded-l-lg h-8 w-32">
    </div>
  </div>
  <div class="p-3">
    <h3 class=" bg-loading w-24 h-6 rounded"></h3>
    <div class="pb-2 font-bold"></div>
    <div class="flex py-2 opacity-50 w-1/2 bg-loading h-6"></div>
  </div>
</div>