  <div class="absolute opacity-90 w-full p-2 hidden">
        <ul class="font-bold lg:flex container bg-white text-black p-8 rounded shadow-lg z-50">
            <li class=" mt-8 "><a href="#" class=" text-xl w-full block">Home</a></li>
            <li class=" mt-8 flex justify-between"><a href="#" class=" text-xl w-full">For sale</a> <span class="text-2xl mr-2">+</span> </li>
            <li>
                <ul class="">
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">House </a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Flat</a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Plot</a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Office </a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Commercial</a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Industrial </a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Garages </a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Sold </a></li>
                </ul>
            </li>
            <li class=" mt-8 flex justify-between"><a href="#" class=" text-xl w-full">For rent</a> <span class="text-2xl mr-2">+</span> </li>
            <li>
                <ul class="hidden">
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">House </a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Flat</a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Plot</a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Office </a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Commercial</a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Industrial </a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Garages </a></li>
                        <li class="mt-4 font-normal bg-gray-200 p-4 rounded"><a href="#" class="w-full">Sold </a></li>
                </ul>
            </li>
            <li class=" mt-8"><a href="#" class=" text-xl w-full block">Estimation</a></li>
            <li class=" mt-8"><a href="#" class=" text-xl w-full block">Contact</a></li>
            <li class=" mt-8 mb-8 pb-2"><a href="#" class=" text-xl w-full block">Favorites</a></li>
        </ul>
  </div>