 <nav class="relative z-20 bg-white shadow-xs">
      <div class="container m-auto flex justify justify-between items-center">
        <img src="../../assets/pixel/logo-light.png" class="h-12 my-2" alt="Alphabitat logo">
        
        <ul class="font-bold hidden lg:flex text-gray-900 stroke anim">
            <li>
              <LinkTo @route="home" class="mx-2 py-2 px-4">Home</LinkTo>
            </li>

            <li>
              <LinkTo @route="search" class="mx-2 py-2 px-4">For sale</LinkTo>
            </li>

            <li>
              <LinkTo @route="search"class="mx-2 py-2 px-4">For rent</LinkTo>
            </li>

            <li>
              <LinkTo @route="estimation" class="mx-2 py-2 px-4">Estimation</LinkTo>
            </li>

            <li>
              <LinkTo @route="contact" class="mx-2 py-2 px-4">Contact</LinkTo>
            </li>

            <li class="nav-fav">
              <LinkTo @route="favorites" class="ml-2 py-2 pl-4 ">Favorites</LinkTo>
            </li>
        </ul>
        <div class="border rounded bg-gray-200 lg:hidden cursor-pointer">
          <img src="/assets/vector/menu.svg"  class="h-14 p-2 " alt="">
        </div>
      </div>
      <NavMobile/>
</nav>