  <section class="bg-gray-100 relative overflow-hidden">
      <img src="/assets/pixel/building-mask.png" class="absolute top-0 right-0 h-full opacity-25 md:opacity-50 lg:opacity-100" alt="buildings">
    <article class="container relative font-bold text-gray-900 py-16 md:py-40">
    <div class=" w-full md:w-2/3">
      <h2 class="text-3xl md:text-5xl py-6">25 Years of experience at your disposal</h2>
      <p class="text-base w-2/3">
        Are you looking for a house or an apartment for rent or sale, or do you
        want to sell or rent your estate? we can help you! Do you want to know
        more please take a look at our website or contact us for more
        information.
      </p>
      </div>
    </article>
 
  </section>