<section class="w-full h-full bg-hero py-24">
    <div class="container mx-auto z-10 relative">
    <article class="w-full flex justify-center pt-48 flex flex-col pb-16">
        <h1 class="text-3xl md:text-5xl text-center pb-12 font-bold text-gray-100 ">Real Estate Agency Woluwe-Saint-Pierre</h1>
        <div class="flex flex justify-center">
            <div class="relative">
            <button {{ on 'click' this.togglePurpose}}  class="py-5 px-3 md:px-6 bg-white border flex justify-between w-32 md:w-64 font-bold"><span>For sale</span> <img src="/assets/vector/down-arrow-black.svg" alt=""></button>
                {{#if this.purpose}}
                <div class="absolute w-64 mt-2 shadow-xl p-5 flex flex-col bg-white font-bold rounded">
                     <label class="inline-flex items-center mt-3">
                        <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600"><span class="ml-2 text-gray-700">All</span>
                    </label>
                    <div class="w-full border-b py-2"></div>
                    <label class="inline-flex items-center mt-3">
                        <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-700">For sale</span>
                    </label>
                    <label class="inline-flex items-center mt-3">
                        <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-700">For rent</span>
                    </label>
                    <label class="inline-flex items-center mt-3">
                        <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-700">Sold</span>
                    </label>
                    <label class="inline-flex items-center mt-3">
                        <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-700">Rented</span>
                    </label>
                </div>
                {{/if}}
            </div>
            <div class="relative">
            <button {{ on 'click' this.togglePrice}}  class="py-5 px-6 bg-white border xl:flex justify-between w-64 font-bold hidden"><span>Price</span> <img src="/assets/vector/down-arrow-black.svg" alt=""></button>
                {{#if this.price}}
                <div class="absolute  w-64 mt-2 shadow-xl p-5 flex flex-col bg-white font-bold rounded">
                    <div>
                        <label for="price" class="block text-sm text-gray-800">min.</label>
                        <input id="price" class="form-input block w-full p-2 mt-2 border rounded" placeholder="0">
                    </div>
                    <div class="mt-6">
                        <label for="price" class="block text-sm text-gray-800">max.</label>
                        <input id="price" class="form-input block w-full p-2 mt-2 border rounded" placeholder="0">
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="relative">
            <button {{ on 'click' this.toggleRegion}} class="py-5 px-3 md:px-6  bg-white border flex justify-between w-32 md:w-64 font-bold"><span>Region</span> <img src="/assets/vector/down-arrow-black.svg" alt=""></button>
                {{#if this.region}}
                <div class="absolute w-64 mt-2 shadow-xl p-5 flex flex-col bg-white font-bold rounded">
                     <label class="inline-flex items-center mt-3">
                        <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600"><span class="ml-2 text-gray-700">All</span>
                    </label>
                    <div class="w-full border-b py-2"></div>
                    <label class="inline-flex items-center mt-3">
                        <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-700">Brussels</span>
                    </label>
                    <label class="inline-flex items-center mt-3">
                        <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-700">Flemish Brabant</span>
                    </label>
                    <label class="inline-flex items-center mt-3">
                        <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-700">Walloon Brabant</span>
                    </label>
                    <label class="inline-flex items-center mt-3">
                        <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-700">East Flanders</span>
                    </label>
                    <label class="inline-flex items-center mt-3">
                        <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-700">Other</span>
                    </label>
                </div>
                {{/if}}
            </div>
            <button class="py-5 px-5 md:px-12  bg-red-600 font-bold text-white">Search</button>
        </div>
        <div class="flex justify-center mt-6 ">
            <button class="font-bold text-gray-100 border px-6 py-2 border-gray-500 ">Advanced search</button>
        </div>
  
    </article>
    </div>
</section>