<section class="absolute top-0 left-0 z-30 bg-white w-full p-6 font-bold hidden">
    <div class="container">
    <div class="flex justify-between items-center border-b pb-4">
        <h1 class="text-2xl text-gray-800">Filter</h1>
        <button class="bg-gray-900 text-white font-bold py-2 px-6 rounded">Reset filter</button>
    </div>

       <div class="mt-6">
        <h2 class="text-gray-600 py-2">Purpose</h2>
        <div class="flex flex-col pl-2 ">
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-2 text-gray-500">For sale</span>
            </label>
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">For rent</span>
            </label>
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Sold</span>
            </label>
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Rented</span>
            </label>
           
        </div>


    </div>
    <div class="mt-12">
        <h2 class="text-gray-600 py-2">Property Type</h2>
        <div class="flex flex-col pl-2 ">
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-2 text-gray-500">Houses</span>
            </label>
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Flats</span>
            </label>
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Plots</span>
            </label>
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Plots</span>
            </label>
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Offices</span>
            </label>
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Stores</span>
            </label>
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Industrial</span>
            </label>
            <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Garage & Parking
                    lots</span>
            </label>
        </div>


    </div>
    <div class="mt-12">
        <h2 class="text-gray-600 py-2">Bedrooms</h2>
        <div class="flex">
                <select class="border w-5/12 mr-6 py-2 px-2 rounded" name="" id="">
                    <option value=0>Min</option>
                    <option value=1>1 Room</option>
                    <option value=2>2 Room</option>
                    <option value=3>3 Rooms</option>
                    <option value=4>4 Rooms</option>
                    <option value=5>5 Rooms</option>
                </select>
    

                <select class="border w-5/12  py-2 px-2 rounded">
                    <option value=20>Max</option>
                    <option value=1>1 Room</option>
                    <option value=2>2 Room</option>
                    <option value=3>3 Room</option>
                    <option value=4>4 Rooms</option>
                    <option value=5>5 Rooms</option>
                    <option value=20>6+ Rooms</option>
                </select>
        </div>
    </div>

     <div class="mt-6">
        <h2 class="text-gray-600 py-2">Price</h2>
        <div class="flex">
                <select class="border w-5/12 mr-6 py-2 px-2 rounded" name="" id="">
                    <option value=0>Min</option>
                    <option value=1>1 Room</option>
                    <option value=2>2 Room</option>
                    <option value=3>3 Rooms</option>
                    <option value=4>4 Rooms</option>
                    <option value=5>5 Rooms</option>
                </select>
    

                <select class="border w-5/12  py-2 px-2 rounded">
                    <option value=20>Max</option>
                    <option value=1>1 Room</option>
                    <option value=2>2 Room</option>
                    <option value=3>3 Room</option>
                    <option value=4>4 Rooms</option>
                    <option value=5>5 Rooms</option>
                    <option value=20>6+ Rooms</option>
                </select>
        </div>
    </div>
    <div class="mt-6">
        <h2 class="text-gray-600 py-2">Bathrooms</h2>
        <div class="flex">
                <select class="border w-5/12 mr-6 py-2 px-2 rounded" name="" id="">
                    <option value=0>Min</option>
                    <option value=1>1 Room</option>
                    <option value=2>2 Room</option>
                    <option value=3>3 Rooms</option>
                    <option value=4>4 Rooms</option>
                    <option value=5>5 Rooms</option>
                </select>
    

                <select class="border w-5/12  py-2 px-2 rounded">
                    <option value=20>Max</option>
                    <option value=1>1 Room</option>
                    <option value=2>2 Room</option>
                    <option value=3>3 Room</option>
                    <option value=4>4 Rooms</option>
                    <option value=5>5 Rooms</option>
                    <option value=20>6+ Rooms</option>
                </select>
        </div>
    </div>

    <div class="mt-6">
        <h2 class="text-gray-600 py-2">Area</h2>
        <div class="flex">
                <select class="border w-5/12 mr-6 py-2 px-2 rounded" name="" id="">
                    <option value=0>Min</option>
                    <option value=1>1 Room</option>
                    <option value=2>2 Room</option>
                    <option value=3>3 Rooms</option>
                    <option value=4>4 Rooms</option>
                    <option value=5>5 Rooms</option>
                </select>
    

                <select class="border w-5/12  py-2 px-2 rounded">
                    <option value=20>Max</option>
                    <option value=1>1 Room</option>
                    <option value=2>2 Room</option>
                    <option value=3>3 Room</option>
                    <option value=4>4 Rooms</option>
                    <option value=5>5 Rooms</option>
                    <option value=20>6+ Rooms</option>
                </select>
        </div>
    </div>
</div>
</section>