  <section class="w-5/12  hidden md:block relative">
  <div class="sticky top-10 p-6 border rounded shadow">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et unde voluptas consequuntur voluptate perspiciatis in aut ullam quia hic tempora exercitationem ex, velit necessitatibus quos error obcaecati cupiditate qui sunt!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et unde voluptas consequuntur voluptate perspiciatis in aut ullam quia hic tempora exercitationem ex, velit necessitatibus quos error obcaecati cupiditate qui sunt!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et unde voluptas consequuntur voluptate perspiciatis in aut ullam quia hic tempora exercitationem ex, velit necessitatibus quos error obcaecati cupiditate qui sunt!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et unde voluptas consequuntur voluptate perspiciatis in aut ullam quia hic tempora exercitationem ex, velit necessitatibus quos error obcaecati cupiditate qui sunt!

  </div>
  
  </section>