<main class="min-h py-6 flex items-center bg-top" style="background-image: url('/assets/pixel/map.jpg');">
<div class="container flex justify-end items-center relative">
    <section class="flex flex-col p-6 py-12 md:p-12 w-full xl:w-2/4 bg-grey rounded text-white">
        <h2 class="text-3xl text-center font-bold  ">We care for you!</h2>
        <p class="pb-10 text-center font-bold  opacity-50">Contact us and we will get back to you as soon as possible</p>
            <form name="contact" action="#" method="POST" class="flex flex-col">
                <input type="hidden" name="form-name" value="contact"> 

                <div class="w-full flex gap-8">
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="grid-password">
                        Name
                        <input class="appearance-none w-full bg-light-gray border border-gray-800 mt-2  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="input" placeholder="">
                    </label>
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="grid-password">
                        Lastname
                        <input class="appearance-none w-full bg-light-gray border border-gray-800 mt-2  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="password" placeholder="">
                    </label>
                </div>

                 <div class="w-full flex gap-8">
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="grid-password">
                        E-mail
                        <input class="appearance-none w-full bg-light-gray border border-gray-800 mt-2 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="input" placeholder="">
                    </label>
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="grid-password">
                        Tel.
                        <input class="appearance-none w-full bg-light-gray border border-gray-800 mt-2  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="password" placeholder="">
                    </label>
                </div>
                <div class="w-full flex ">

                </div>
                <label class="uppercase tracking-wide text-xs font-bold mb-4 flex-1">Message
                    <textarea name="" id="" cols="30" rows="10" class="appearance-none w-full bg-light-gray mt-2  border border-gray-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                </label>
                <label class="text-center m-auto pb-6 font-bold">
                <input type="checkbox" name="" id="" class="p-2" > I agreed to the terms & services of Alphabitat
                </label>
                <input type="submit" value="Send" class="py-4 bg-red-600 font-bold rounded">
                </form>  
    </section>
    </div>
</main>


