<main class="min-h bg-light-gray flex">
  <div class="p-6 bg-gray-100"></div>
	<div class="container flex flex-col md:flex-row items-center justify-center px-5 text-gray-700">
   		<div class="max-w-md">
            <p
              class="text-xl md:text-2xl font-josefin"
            >Something went wrong while handling your request </p>
          <p class="mb-8">Try again later or contact info@alphabitat.be</p>
          <LinkTo @route="home">
            <button type="button" class="px-4 inline py-2 text-sm font-medium leading-5 shadow text-white focus:outline-none focus:shadow-outline-blue bg-blue-600 active:bg-blue-600 hover:bg-red-700 anim">back to homepage</button>
          </LinkTo>
    </div>
      <div class="max-w-lg">
      <img src="/assets/pixel/error.png" alt="A snow globe with a house in it">
    </div>
    
  </div>
</main>