
    <main class="container pb-6 flex flex-col justify-center items-center text-center min-h">
        <h1 class="font-bold text-3xl">404 - Page Not Found</h1>
        <p class="font-bold text-gray-600" >Apparently this page does not exist or has been removed. </p>
        <button type="button" class="py-4 rounded bg-red-700 font-bold text-white w-1/4 mt-6">Homepage</button>

    </main>